[submodule "Assignment 01/codebases/realworld/implementations/golang-gin"]
	path = Assignment 01/codebases/realworld/implementations/golang-gin
	url = https://github.com/gothinkster/golang-gin-realworld-example-app.git
[submodule "Assignment 01/codebases/realworld/specification/upstream"]
	path = Assignment 01/codebases/realworld/specification/upstream
	url = https://github.com/realworld-apps/realworld.git
[submodule "Assignment 01/codebases/realworld/implementations/golang-hexagonal"]
	path = Assignment 01/codebases/realworld/implementations/golang-hexagonal
	url = https://github.com/labasubagia/realworld-backend.git
[submodule "Assignment 01/codebases/realworld/implementations/aspnetcore"]
	path = Assignment 01/codebases/realworld/implementations/aspnetcore
	url = https://github.com/gothinkster/aspnetcore-realworld-example-app.git
